.main-padding {
	padding: 70px 1%;
}

.title-format {
	font-weight: bold;
	font-size: 20px;
}

.margin-top-50 {
	margin-top: 50px;
}

.margin-top-30 {
	margin-top: 30px;
}

.padding-right-0 {
	padding-right: 0px;
}

input[type="text"] {
	border-radius: 5px;
    padding: 6px 12px;
    margin: 0;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 0;
    white-space: nowrap;
    vertical-align: middle;
    width: 90%;
}

.chat-table-format {
	border: 1px solid #ccc;
	line-height: 30px;
	padding: 0px 30px;
}

.chat-table-header-format {
	font-weight: bold;
	border-bottom: 2px solid #ccc;
}

.table-top-border {
	border-top: 1px solid #ccc;
}