<html>
	<head>
		<link rel="stylesheet" type="text/css" href="assets/css/lib/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/custom.css">

		<script src="assets/js/lib/jquery-3.1.0.min.js"></script>
		<script src="assets/js/lib/bootstrap.min.js"></script>

		<script src="assets/js/lib/socket.io-1.4.5.js"></script>
		<script src="assets/js/lib/angular.1.5.8.min.js"></script>
		<script src="app/app.js"></script>
	</head>
	<body ng-app="ChatApp" ng-controller="MainController" ng-cloak>
		<div class="container-fluid">
			<div class="row main-padding">
				<div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
					<div class="row">
						<div class="col-xs-12 text-center title-format">
							Simple Chat Test Project
						</div>
					</div>
					<div class="row margin-top-50">
						<div class="col-xs-12 text-center">
							<div class="row">
								<form name="chatForm" ng-submit="submitMessage(chatForm)">
									<div class="col-xs-8 text-right padding-right-0">
										<input type="text" placeholder="Let's type something here!" ng-model="message">
									</div>
									<div class="col-xs-4 text-left">
										<button class="btn btn-success" type="submit">Send</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="row-fluid margin-top-30">
						<div class="col-xs-12 chat-table-format" ng-if="comments.length > 0">
							<div class="row">
								<div class="col-xs-4 text-left chat-table-header-format">
									created
								</div>
								<div class="col-xs-8 text-left chat-table-header-format">
									text
								</div>
							</div>
							<div class="row" ng-repeat="comment in comments | orderBy:created_at:true">
								<div class="col-xs-4 text-left" ng-class="{'table-top-border': $index > 0}">
									{{comment.created_at}}
								</div>
								<div class="col-xs-8 text-left" ng-class="{'table-top-border': $index > 0}">
									{{comment.message}}
								</div>
							</div>
						</div>
						<div class="col-xs-12" ng-if="comments.length == 0">
							<div class="row">
								<div class="col-xs-12 text-center">
									There are no comments.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>